@media screen and (min-width: 0) and (max-width: 600px) {
    .home-intro-container {
        padding-left: 20px;
    }
    .home-intro-text {
        font-size: 25px !important;
        line-height: 28px !important;
    }
    .home-intro-text-sli-wrap {
        height: 50px !important;
        margin-top: 20px !important
    }
    .home-intro-text-sli-container {
        height: 50px !important;
    }
    .home-intro-text-sli-text {
        font-size: 16px !important;
        line-height: 20px !important;
    }
    .project-card-container-grid {
        margin-top: 20px !important;
        background-color: transparent;
    }
    .project-card-item {
        margin-right: 20px !important;
    }

    .project-card-item h2 {
        font-size: 1rem;
    }
    .project-card-item p {
        margin-top: 15px;
        margin-bottom: 0px
    }
    .project-card-item-action{
        margin-top: 0px
    }

    .about-intro-container{
        margin-top: 5%;
        margin-right: 20px
    }
    .about-intro-container p {
        font-size: 16px;
        line-height: 22px;
    }
    .about-intro-container a {
        font-size: 16px;
        line-height: 22px;
    }
    .about-intro-container h3 {
        font-size: 1.2rem;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .about-intro-text {
        margin-bottom: 20px;
    }
    .motion-button-small{
        right: 18px;
    }
}

@media screen and (min-width: 601px) and (max-width: 960px) {
    .home-intro-container {
        padding-left: 60px;
        padding-right: 60px;
    }
    .home-intro-text {
        font-size: 34px;
        line-height: 38px;
    }
    .home-intro-text-sli-wrap {
        height: 70px !important;
        margin-top: 50px !important
    }
    .home-intro-text-sli-container {
        height: 70px !important;
    }
    .home-intro-text-sli-text {
        font-size: 24px !important;
        line-height: 28px !important;
    }
    .project-card-container-grid {
        margin-top: 100px !important;
        background-color: transparent;
    }
}

@media screen and (min-width: 961px) and (max-width: 1280px) {
    .home-intro-container {
        padding-left: 120px;
        padding-right: 120px;
        margin-top: 5%
    }
    .project-card-container-grid {
        margin-top: 100px !important;
        background-color: transparent;
    }
    .footer-transparent {
        bottom: 0;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1919px){
    .home-intro-container {
        margin-top: 4%;
        padding-left: 120px;
    }
    .home-intro-text {
        font-size: 38px !important;
    }
    .home-intro-text-sli-text {
        font-size: 28px !important;
    }
    .project-card-container-grid {
        margin-top: 90px !important;
        background-color: transparent;
    }
    .footer-transparent {
        bottom: 0;
    }
}

@media screen and (min-width: 1920px){
    .home-intro-container {
        padding-right: 120px;
    }
    .project-card-container-grid {
        margin-top: 200px !important;
        background-color: transparent;
    }
}