

body, #root {
    margin: 0;
    display: flex;
    flex: 1;
}

#app {
    min-height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    /* background-image: url("https://wallpapercave.com/wp/XHo2Hub.jpg"); */
    background-repeat: no-repeat;
    background-size: cover; 
    background: black;
    /* z-index: -110; */
}

.rout-container{
    display: flex;
    flex: 1
}

.fullHeight {
    height: 100%
}

.home-card-container-grid {
    display: inline;
    height: 100%;
}

.home-card-image {
    
    background-color: rgba(0, 0, 0, 0);
    background-position: initial;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: url("../asserts/img/intro.jpg");
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;

    background-position: 0 50% !important;

    background-size: cover !important;
    height: 100%;
    width: 100%;
}

.home-card-image .content-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    height: 100%;
}

.content-inner {
    padding: 10%;
}

.home-card-image h1 {
    font-size: 24px;
    color: #f1f1f1;
    letter-spacing: 1px;
    font-family: 'montserratbold',Arial,sans-serif;
}

.home-card-image h1 span {
    display: block;
    font-size: 11px;
    text-transform: none;
    margin-top: 1px;
}

.home-card-image  a {
    text-transform: uppercase;
    color: #f1f1f1;
}

.home-card-left-item {
    display: inherit;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row
}

.home-card-right-item {
    display: inline;
    justify-content: center;
    align-items: center
}

.home-intro-container {
    padding-left: 180px;
    margin-top: 10%
}

.home-intro-text {
    color: white;
    font-size: 44px;
    line-height: 56px;
    text-transform: none;
}

.home-intro-text-sli-wrap {
    height: 40px;
    margin-top: 60px;
    max-width: inherit;
}

.home-intro-text-sli-container {
    height: 80px;
    pointer-events: none;
}

.home-intro-text-sli-text {
    color: #fff;
    font-size: 32px;
    line-height: 56px;
    text-transform: none;
}

.home-card-slider { 
    position: inherit;

}

.home-card-slider-item {
    padding: 40px
}

.home-card-slider-item blockquote h1 {
    color: #777777;
    font-size: 12px;
    text-transform: none;
    padding-left: 5px;
}

.home-card-slider-item blockquote p {
    color: #ffffff;
    font-size: 21px;
    text-transform: none;
    line-height: 33px;
    width: 94%;
    margin-top: 25px;
    overflow: hidden;
    padding-left: 5px;
}

.socials-footer {
    margin-bottom: 30px
}

.socials-footer a {
    display: inline-block;
    color: #ffffff;
}

.socials-footer li {
    display: inline-block;
    font-size: 10px;
    letter-spacing: 1px;
    margin-right: 15px;
    text-align: center;
    text-transform: uppercase;
}

.socials-footer a {
    display: inline-block;
    color: #ffffff;
    font-weight: 800
}

.footer-left-item p {
    color: #ffffff;
}

.footer p {
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 800
}

.footer-left-item a {
    color: #ffffff;
    font-weight: 800;
}

.footer p {
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer-transparent {
    height: auto;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    bottom: 50px;
    z-index: 500;
}

@media (max-width: 599px) {
    .footer-transparent {
        bottom: 10px;
    }
}

.about-card-slider-item blockquote h2 {
    color: #ffffff;
    font-size: 35px;
    text-transform: none;
    padding-left: 2px;
}

.about-card-slider-item-sm blockquote h2 {
    color: #ffffff;
    font-size: 26px;
    text-transform: none;
    padding-left: 2px;
}

.about-card-slider { 
    position: inherit;
    padding-bottom: 100px
}

.about-card-slider-sm { 
    min-width: 200px;
    max-width: 350px;
    padding-bottom: 80px
}

.about-card-slider-lg { 
    width: 600px
}

.about-card-slider h2{ 
    line-height: 36px
}

.about-card-slider-item {
    padding: 6px
}

.about-card-slider-item blockquote p {
    color: rgba(255,255,255, 0.9);
    font-size: 21px;
    text-transform: none;
    line-height: 33px;
    width: 94%;
    margin-top: 25px;
    overflow: hidden;
    padding-left: 5px;
}

.about-card-slider-item-sm blockquote p {
    color: rgba(255,255,255, 0.9);
    font-size: 16px;
    text-transform: none;
    line-height: 30px;
    width: 94%;
    margin-top: 25px;
    overflow: hidden;
    padding-left: 5px;
}

.main-text-color {
    color: rgba(0, 0, 0, 0.87);
}

.absolute-full-view {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none
}

.moon {
    align-self: flex-start;
    margin-top: 160px;
    margin-left: 80px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: white;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;

    -webkit-animation: neon1 5.5s ease-in-out infinite alternate;
    -moz-animation: neon1 5.5s ease-in-out infinite alternate;
    animation: neon1 5.5s ease-in-out infinite alternate;
}

.moon :hover {
    color: #fff;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}

@keyframes neon1 {
    from {
      box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff;
    }
    to {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff;
    }
  }

.slick-dots li button:before {
    font-size: 10px;
    color: #fff;
    opacity: 0.10;
}
.slick-dots li.slick-active button:before {
    color: #fff;
}

/* .slick-dots {
    bottom: -18px;
} */

.motion-button-container {
    height: 50px;
    width: 50px;
}

.motion-button {
    position: absolute;
    border: 2px solid white;
    border-radius: 99px;
    width: 50px;
    height: 50px;
    text-align: center;

    background-color: transparent;
    cursor: -webkit-hand; cursor: hand;
}

.motion-button:hover {
    background-color: white;
}

.motion-button:active {
    background-color: white;
}

.motion-button-small {
    bottom: 100px;
    right: 26px;
}

.motion-button-large{
    bottom: 100px;
    right: 60px;
}

.motion-button i {
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: -webkit-hand; cursor: hand;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;  
}

.motion-button i:active {
    cursor: -webkit-grabbing; cursor: grabbing;
    color: black
}

.motion-button:hover i {
    color: black
}

.project-card-container-grid {
    max-height: 250px;
    max-width: 600px;
    background-color: white;

    margin-top: 150px
}

.project-card-item{
    border-width: 2px;
    border-color: white;
    border-style: solid;
}

.project-card-item-action{
    margin-top: 5px
}

.project-card-item-header {
    padding: 20px;
}

.project-card-item-header h3 {
    color: black;
    font-size: 25px;
    text-transform: none;
}

.project-card-item-header hr {
    margin-top: 20px
}

.about-intro-container{
    max-height: 80%;
    overflow: auto;
}

.about-intro-container p {
    color: white;
    font-size: 1.4rem;
    line-height: 2rem;
}

.about-intro-container a {
    color: white;
    font-size: 1.4rem;
    line-height: 2rem;
}

.about-intro-container h3 {
    color: white;
    font-size: 2rem;
    line-height: 2rem;
    text-transform: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-intro-text {
    margin-bottom: 30px;
}